DATABASE_URL="postgresql://sfadmin:54321@localhost:5434/sneakers_db_stag?schema=public"

# # =====================================
# # KOMERCE API CONFIGURATION
# # =====================================
# Gunakan URL Komerce Sandbox/Production sesuai kebutuhan
KOMERCE_BASE_URL=https://api-sandbox.collaborator.komerce.id
KOMERCE_API_KEY=VDiLWH4R48172606d28bde1a3dHKapOZ
# ID Kecamatan Gudang (Duri Kepa, Jakarta Barat)
STORE_ORIGIN_SUBDISTRICT_ID=17485
# =====================================
# KOMERCE API CONFIGURATION
# =====================================
# KOMERCE_API_KEY=VDiLWH4R48172606d28bde1a3dHKapOZ
# KOMERCE_BASE_URL=https://api.collaborator.komerce.id
# KOMERCE_TIMEOUT=30

# ✅ API Key yang sudah terbukti working
RAJAONGKIR_API_KEY=9de495fa986da8069d9ba9d5e5e574e1

# ✅ Base URL Komerce (yang working dari test)
RAJAONGKIR_BASE_URL=https://rajaongkir.komerce.id/api/v1
# RAJAONGKIR_BASE_URL=https://api-sandbox.collaborator.komerce.id/api/v1

# ✅ Plan information
RAJAONGKIR_PLAN=komerce_enhanced
RAJAONGKIR_API_VERSION=v1

# ✅ Performance settings
RAJAONGKIR_TIMEOUT=25
RAJAONGKIR_CACHE_DURATION=3600
RAJAONGKIR_DEFAULT_WEIGHT=1000

# ✅ Available endpoints (berdasarkan dashboard)
RAJAONGKIR_ENDPOINTS_AVAILABLE=domestic_destination,domestic_cost,province,waybill

# ✅ Origin settings
STORE_ORIGIN_CITY_NAME="kebayoran lama"
STORE_ORIGIN_CITY_ID=17549

# # # # Midtrans Configuration
# MIDTRANS_MERCHANT_ID=G729994905
# MIDTRANS_CLIENT_KEY=Mid-client-ATjOKJzhDJ6ovtSu
# MIDTRANS_SERVER_KEY=Mid-server-L4yCWZ2rIiTM_M-kV4VDto03
# MIDTRANS_IS_PRODUCTION=true
# MIDTRANS_IS_SANITIZED=true
# MIDTRANS_IS_3DS=true

# Midtrans SANDBOX
MIDTRANS_MERCHANT_ID=G729994905
MIDTRANS_CLIENT_KEY=SB-Mid-client-kP69cmWBAIwZ-dto
MIDTRANS_SERVER_KEY=SB-Mid-server-ph1JrxFP_AOXQcMRBezbsMUx
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_IS_SANITIZED=true
MIDTRANS_IS_3DS=true



MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=sneakersflash23@gmail.com
MAIL_PASS=password_app_anda_16_digit